.ant-carousel .slick-slide {
  /* text-align: center; */
  height: 400px;
  /* line-height: 160px; */
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide .carousel-content {
  margin: 5% 20%;
}
  
.ant-carousel .slick-slide h3 {
  color: #fff;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}