.ant-carousel .slick-slide {
  /* text-align: center; */
  height: 400px;
  /* line-height: 160px; */
  background: #7451eb;
  background-image: url('https://oc-static.imgix.net/prod/images/home/image_hp_banner.png?v4&auto=compress,format&q=80&w=468&h=390');
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 85%;
  overflow: hidden;
}

.hero {
  height: 60vh;
  /* background-color: #171f3b; */
  background-image: linear-gradient(to left,#7451eb 0,#573dad 100%);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero .hero-bg{
  height: 100%;
  width: 100%;
  padding: 80px;
  background-image: url('../assets/images/homepage_banner_background.svg');
  background-position: center center;
  opacity: 0.3;
  -webkit-mask-image: radial-gradient(circle,rgba(0,0,0,0) 0,#000 100%);
  mask-image: radial-gradient(circle,rgba(0,0,0,0) 0,#000 100%);
  position: absolute;
}

.hero-content{
  color: white;
  text-align: center;
}
.hero-content .hero-caption{
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.hero-content .hero-text{
  opacity: 0.75;
  font-size: 20px;
  margin: 10px 0 40px;
}

.hero .hero-content{
  /* position: absolute; */
  /* bottom: 0; */
  /* padding: 0 0 100px; */
}

@media screen and (min-width:2000px){
  .hero {
    height: calc(100vh - 800px);
  }
}
@media screen and (max-width:575px){
  .hero .hero-bg{
    padding: 40px;
  }
  
}